@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center my-3">

    <div class="col-md-8 border rounded text-center">

        <h3 class="text-center m-2">We are CSIRO</h3>

        <div class="my-4 tex-center">
            <p class="text-center">
                For more than a century, we've been improving the lives of people everywhere with our science.

                Sunshine clouds in half circle and solar panel image on other half circle
                CSIRO Year in Review 2022 Cover page
                Since we started life as the Advisory Council of Science and Industry in 1916, we've advanced Australia with a range of inventions and innovations that have had significant positive impact on the lives of people around the world.

                These include fast WiFi, polymer banknotes, the CSIRO Total Wellbeing Diet, and Aerogard, just to name a few.

                We work with industry, government and the research community to turn science into solutions to address Australia's greatest challenges, including food security and quality; sustainable energy and resources; health and wellbeing; resilient and valuable environments; future industries; and a secure Australia and region.

                Read more about the contribution CSIRO has made to Australia this year in our Year in Review 2022, which celebrates our people, partners and science.
            </p>

            <p>
                Create an account now to view job opportunities
            </p>

            <a class="btn btn-primary justify-content-center my-2 mx-auto" asp-area="" asp-controller="Account" asp-action="Register">Register</a>

        </div>
    </div>
</div>