@model MVCAssessment2.ViewModels.EditApplicantViewModel

<fieldset>

    <form method="POST">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <label asp-for="applicantID">Email</label>
        <input asp-for="applicantID" class="form-control" />

        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />

        <label asp-for="firstName">First Name</label>
        <input asp-for="firstName" class="form-control" />

        <label asp-for="lastName">Last Name</label>
        <input asp-for="lastName" class="form-control" />

        <label asp-for="dateOfBirth">Date Of Birth</label>
        <input asp-for="dateOfBirth" class="form-control" />

        <label asp-for="gpa">GPA</label>
        <input asp-for="gpa" class="form-control" />

        <label asp-for="courseID">Qualification</label>
        <select asp-for="courseID" class="form-select" asp-items="Model.courseSelectList"></select>

        <label asp-for="uniID">University</label>
        <select asp-for="uniID" class="form-select" asp-items="Model.uniSelectList"></select>

        <label asp-for="coverLetter">Cover Letter (Optional)</label>
        <textarea asp-for="coverLetter" rows="5" class="form-control"></textarea>

        <div class="mx-auto" style="width: 200px">
            <button type="submit" class="btn btn-primary my-2">Submit Application</button>
        </div>
    </form>


</fieldset>