<div class="row justify-content-center m-3">
    <div class="col-md-8 border rounded">
        <h3 class="text-center m-2">Thank you for applying!</h3>

        <div class="my-4 tex-center">
            <p class="text-center">
                Thank you for applying! If you are accepted for an interview one of our recruiters will reach out to you via the email that
                you provided, best of luck!
            </p>

           <div class="mx-auto" style="width: 150px">
                <a class="btn btn-primary my-2" style="width: 150px" asp-controller="Home" asp-action="Index">Return to Home</a>
           </div>
            
        </div>
    </div>
</div>
