<div class="row justify-content-center m-3">
    <div class="col-md-8 border rounded">
        <h3 class="text-center m-2">Sorry, your application was unsuccessful</h3>

        <div class="my-4 tex-center">
            <p class="text-center">
                Sorry, a problem has occurred when submitting your application, please check that you meet the criteria.
            </p>

            <div class="mx-auto justify-content-center" style="width: 200px">
                <a class="btn btn-primary my-2" style="width: 200px" asp-controller="Home" asp-action="Index">Return to Application</a>
            </div>

        </div>
    </div>
</div>
